/* Courses Grid Styles */

.courses-section {
    padding: 80px 0 0;
    margin-left: 10px;
    /* Removed bottom padding to reduce space */
    background-color: var(--dark-bg);
    overflow: hidden;
    /* Ensure no scrollbars on body */
}

.courses-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 60px;
    padding: 10px;
}

@media (max-width: 768px) {
    .courses-grid {
        gap: 40px;
        padding: 0 20px;
    }
}

/* Course Card */
.course-card {
    background-color: var(--card-bg);
    border-radius: var(--border-radius);
    overflow: hidden;
    color: #252B42;
    transition: var(--transition);
}

.course-card:hover {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.course-image-wrapper {
    position: relative;
    height: 220px;
}

.course-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.course-tag {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: var(--alert-color);
    color: white;
    padding: 3px 10px;
    border-radius: 3px;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
}

.course-actions {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    opacity: 0;
    transition: var(--transition);
}

.course-card:hover .course-actions {
    opacity: 1;
    bottom: 30px;
}

.course-content {
    padding: 25px;
}

.course-meta {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    font-size: 12px;
}

.course-content h3 {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 700;
}

.sales-info {
    font-size: 12px;
    color: #737373;
    margin-bottom: 10px;
    font-weight: 600;
}

.course-prices {
    margin-bottom: 15px;
}

.old-price {
    color: #BDBDBD;
    text-decoration: line-through;
    margin-right: 10px;
    font-weight: 700;
    font-size: 14px;
}

.new-price {
    color: var(--success-color);
    font-weight: 700;
    font-size: 16px;
}

.course-footer {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #737373;
    margin-bottom: 20px;
}